/*styles for jquery ui daterangepicker plugin */

.ui-daterangepickercontain {
    position: absolute;
    z-index: 999;
}
.ui-daterangepickercontain .ui-daterangepicker {
    float: left;
    padding: 5px !important;
    width: auto;
    display: inline;
    background-image: none !important;
    clear: left;
}

.ui-daterangepicker {
    background-color: #7d7d7d;
}

.ui-daterangepicker .ui-widget-content {
    background: #ffffff;
}

.ui-daterangepicker .ui-widget-header {
    border: 0 none;
}

.ui-daterangepicker ul,
.ui-daterangepicker .ranges,
.ui-daterangepicker .range-start,
.ui-daterangepicker .range-end {
    float: left;
    padding: 0;
    margin: 0;
}
.ui-daterangepicker .ranges {
    background-image: none;
    width: auto;
    position: relative;
    padding: 5px 5px 40px 0;
}
.ui-daterangepicker .range-start,
.ui-daterangepicker .range-end {
    margin-left: 5px;
}
.ui-daterangepicker button.btnDone {
    margin: 0 5px 5px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    clear: both;
    cursor: pointer;
    font-size: 1.1em;
}
.ui-daterangepicker ul {
    width: 17.6em;
    background: none;
    border: 0;
}
.ui-daterangepicker li {
    list-style: none;
    padding: 1px;
    cursor: pointer;
    margin: 1px 0;
}
.ui-daterangepicker li.ui-state-hover,
.ui-daterangepicker li.ui-state-active {
    padding: 0;
}
.ui-daterangepicker li.preset_0 {
    margin-top: 1.5em !important;
}
.ui-daterangepicker .ui-widget-content a {
    text-decoration: none !important;
}
.ui-daterangepicker li a {
    font-weight: normal;
    margin: .3em .5em;
    display: block;
}
.ui-daterangepicker li span {
    float: right;
    margin: .3em .2em;
}
.ui-daterangepicker .title-start,
.ui-daterangepicker .title-end,
.ui-daterangepicker .title {
    display: block;
    margin: 0 0 .2em;
    font-size: 1em;
    padding: 0 4px 2px;
}
.ui-daterangepicker .ui-datepicker-inline {
    font-size: 1em;
}
.ui-daterangepicker-arrows {
    padding: 2px;
    position: relative;
}

.ui-widget-header.ui-daterangepicker-arrows {
    background: #F2F2F2;
}

.ui-daterangepicker-arrows input.ui-rangepicker-input {
    cursor: pointer;
    padding: 2px;
    height: 1em;
    margin: 0 2px;
    width: 96%;
}
.ui-daterangepicker-arrows input.ui-rangepicker-input.disabled {
    cursor: auto;
}

.ui-daterangepicker-arrows .ui-daterangepicker-prev,
.ui-daterangepicker-arrows .ui-daterangepicker-next {
    position: absolute;
    top: 2px;
    padding: 1px;
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev {
    left: 2px;
}
.ui-daterangepicker-arrows .ui-daterangepicker-next {
    right: 2px;
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev:hover,

.ui-daterangepicker-arrows .ui-daterangepicker-next:hover,
.ui-daterangepicker-arrows .ui-daterangepicker-prev:focus,

.ui-daterangepicker-arrows .ui-daterangepicker-next:focus {
    padding: 0;
}

.ui-daterangepicker .btnDone {
    padding: 0px 2px;
}

    .ui-daterangepicker .btnDone span {
        font-size: 12px;
    }

/** Currently selected date **/
.ui-datepicker-calendar .ui-state-default.ui-state-active {
    border: 1px solid #669f4f;
    background: #f4f0ef;
    color: #669f4f;
}

/** Today **/
.ui-datepicker-calendar .ui-datepicker-today .ui-state-highlight {
    border: 1px solid yellow;
    background: inherit;
    color: inherit;
    
}

.ui-timepicker {
    margin-top: 6px;
    padding: 6px;
}
    .ui-timepicker .title {
        display: inline;
        padding-right: 15px;
    }

    .ui-timepicker button.ui-button {
        background: #EEE;
        border: 1px solid #BBB;
        color: #999;
        float: right;
        font-size: 12px;
        font-weight: bold;
        padding: 0px 10px;
    }
